.profile {
  width: 300px;
  align-items: center;
  margin: 0 auto;
  background-color: #f5eded;
  border-radius: 5px;
  text-align: center;
  border: 3px solid #070707;
  transition: background-color 0.3s;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  &:hover {
    background-color: #ddd4d4;
  }
}

.description {
  padding: 20px;
}
.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
  transition: transform 0.3s;
  transform: scale(1);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  background-color: #585555;
}
.name {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
}

.tag {
  font-size: 18px;
  color: #6b6565;
  margin-bottom: 10px;
}

.location {
  font-size: 18px;
  color: #777;
}

.stats {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
  background-color: #b7b1b1;
  margin: 0;
  border-top: 1px solid #585555;
  height: auto;
}

.stats li {
  padding: 10px;
  text-align: center;
}

.label {
  display: block;
  font-size: 14px;
  color: #201e1e;
}

.quantity {
  font-size: 18px;
  font-weight: 700;
}
.stats li {
  width: 100px;
}
.stats li.second {
  border-left: 1px solid #585555;
  border-right: 1px solid #585555;
}
