#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.profile {
  width: 300px;
  align-items: center;
  margin: 0 auto;
  background-color: #f5eded;
  border-radius: 5px;
  text-align: center;
  border: 3px solid #070707;
}

.description {
  padding: 20px;
}

.avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 15px;
}

.name {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
}

.tag {
  font-size: 18px;
  color: #6b6565;
  margin-bottom: 10px;
}

.location {
  font-size: 18px;
  color: #777;
}

.stats {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
  background-color: #b7b1b1;
  margin: 0;
  border-top: 1px solid #585555;
  height: auto;
}

.stats li {
  padding: 10px;
  text-align: center;
}

.label {
  display: block;
  font-size: 14px;
  color: #201e1e;
}

.quantity {
  font-size: 18px;
  font-weight: 700;
}
.stats li {
  width: 100px;
}
.stats li.second {
  border-left: 1px solid #585555;
  border-right: 1px solid #585555;
}
.friends {
  display: flex;
  justify-content: center;
  gap: 16px;
  list-style-type: none;
}
.friend:hover {
  background-color: #e9dcdc;
}
.avatarFre {
  width: 60px;
  padding: 0;
}

.nameFre {
  font-weight: bold;
  font-size: 400;
}

.online {
  color: green;
  margin: 0;
}
.friend {
  border: 2px solid #403d3d;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 72px;
  padding: 8px;
  background-color: #f0eaea;
}
.offline {
  color: red;
  margin: 0;
}
table {
  width: 600px;
  border-collapse: collapse;
  margin: 40px 0px 0 0;
}

thead th {
  background-color: #6c6b6b;
  color: #f9f6f6;
  font-weight: bold;
  padding: 15px 15px;
  text-align: center;
  border: 1px solid #2c2a2a;
}

tbody td {
  border: 1px solid #2c2a2a;
  padding: 15px 15px;
  text-align: center;
  font-weight: bold;
}

tbody td:nth-child(3) {
  text-align: center;
}
.container {
  display: flex;
  justify-content: center;
}
tbody tr:nth-child(even) {
  background-color: #c0bebe;
}
