#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.profile {
  width: 300px;
  margin: 0 auto;
  background-color: #f5eded;
  border-radius: 5px;

  text-align: center;
  border: 3px solid #070707;
}

.description {
  padding: 20px;
}

.avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 15px;
}

.name {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
}

.tag {
  font-size: 18px;
  color: #6b6565;
  margin-bottom: 10px;
}

.location {
  font-size: 18px;
  color: #777;
}

.stats {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
  background-color: #b7b1b1;
  margin: 0;
  border-top: 1px solid #585555;
  height: auto;
}

.stats li {
  padding: 10px;
  text-align: center;
}

.label {
  display: block;
  font-size: 14px;
  color: #201e1e;
}

.quantity {
  font-size: 18px;
  font-weight: 700;
}
.stats li {
  width: 100px;
}
.stats li.second {
  border-left: 1px solid #585555;
  border-right: 1px solid #585555;
}
.friend {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.friendAvatar {
  border-radius: 50%;
}

.friendName {
  margin-left: 10px;
  font-weight: bold;
}

.friendStatus {
  margin-left: auto;
  color: green; /* Example color for online status */
}
